<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.smhrd.model.MessageDAO">
   <insert id="MessageSend" parameterType="MessageDTO">
      insert into message_info values(message_info_seq.nextval,#{p_idx}, #{user_idx}, #{send_idx}, #{message_con}, sysdate)
   </insert>
   
   <select id="myMessageList" resultType="MessageDTO" parameterType="int">
      select m.*, u.nick mr_nick from message_info m inner join user_info u on m.send_idx = u.user_idx where m.user_idx = #{user_idx} order by m.ms_reg_date desc
   </select>
   
   <delete id="messageDeleteAll" parameterType="String">
      delete from message_info where mr_nick = #{mr_nick}
   </delete>

   <delete id="messageDelete" parameterType="int">
      delete from message_info where
   </delete>
</mapper>