<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.smhrd.model.ProductDAO">

	<!-- 게시물 작성   -->
	<insert  id="ProductUpload" parameterType="ProductDTO">
		insert into product_info values(product_info_seq.nextval,#{user_idx},#{p_name},#{c_idx},#{contact_addr},#{contact_gps},#{price},#{p_contents},sysdate,'1')
	</insert>
	
	<!-- 게시물 작성 후 idx가져오기 -->
	<select id="ProductUploadIndex" resultType="int">
		select product_info_seq.currval from dual
	</select>
	
	<!-- 게시물 상세정보보기 -->
	<select id="ProductDetail" parameterType="int" resultType="ProductDTO">
		select a.*, b.nick from product_info a, user_info b where a.user_idx = b.user_idx and a.p_flag != 9 and p_idx = #{p_idx}
	</select>
	
	<!-- 게시물 수정 -->
	<update id="ProductUpdate" parameterType="ProductDTO">
		update product_info
		set p_name = #{p_name}, contact_addr=#{contact_addr}, contact_gps=#{contact_gps},
    	price = #{price}, p_contents = #{p_contents}
    	where p_idx = #{p_idx}
	</update>
	
	<!-- 게시물 전체보기 -->
	<select id="ProductAll" resultType= "ProductDTO">
		select * from product_info where p_flag != 9 order by p_idx desc
	</select>	
	
	<!-- 게시물 삭제 -->
	<update id="ProductDelete" parameterType="int">
		update product_info
		set p_flag = 9 where p_idx = #{p_idx}
	</update>
	
	<!-- 게시물 검색 -->
	<select id="ProductSearch" resultType= "ProductDTO" parameterType="String">
		select * from product_info where p_flag != 9 and (p_name like '%'||#{parameter}||'%' or p_contents like '%'||#{parameter}||'%') order by p_idx desc
	</select>	
	
	<!-- 게시물 찜 1~3위 -->
	<select id="ProductWishRank" resultType= "ProductDTO">
		select p.* from (select p_idx , count(*) cnt from wishlist_info group by p_idx  order by cnt desc, p_idx desc) w inner join product_info p on w.p_idx = p.p_idx where p.p_flag != 9 and rownum &lt;= 3
	</select>
	
	<!-- 게시물 최근 3개 -->
	<select id="ProductNewAll" resultType= "ProductDTO">
		select * from (select * from product_info where p_flag != 9 order by p_idx desc) where rownum &lt;= 3
	</select>	
	
	
	<!-- 게시물 정보 취합(Admin) -->
	<select id="ProductSum" resultType="ProductDTO">
		select a.*, b.nick from product_info a, user_info b where a.user_idx = b.user_idx
	</select>
	
</mapper>