<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.smhrd.model.ProductDAO">

	<!-- 게시물 작성   -->
	<insert  id="ProductUpload" parameterType="ProductDTO">
		insert into product_info values(product_info_seq.nextval,#{user_idx},#{p_name},#{c_idx},#{contact_addr},#{contact_gps},#{price},#{p_contents},sysdate,'1')
	</insert>
	
	<select id="ProductUploadIndex" resultType="int">
		select product_info_seq.currval from dual
	</select>
	
	
</mapper>