<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.smhrd.model.RentDAO">

	<!-- 대여상태보기(예약자) -->
	<select id="rentStatuesInfo" parameterType="RentDTO" resultType="RentDTO">
		select rt.*, rv.rv_idx from reservation_info rv left join rent_info rt on rv.p_idx = rt.p_idx and rv.user_idx = rt.user_idx where  rv.user_idx = #{user_idx} and rv.p_idx = #{p_idx}
	</select>
	
	<!-- 대여상태보기(대여자) -->
	<select id="renterStatuesInfo" parameterType="RentDTO" resultType="RentDTO">
		select * from rent_info where return_date is null and user_idx = #{user_idx} and p_idx = #{p_idx}
	</select>
	
	<!-- 대여시작(대여자) -->
	<insert id="rentStart" parameterType="int">
		insert into rent_info select rent_info_seq.nextval,p_idx,user_idx,'N',rv_start_date,rv_end_date,'N',null from reservation_info where rv_idx = #{rv_idx}
	</insert>
	
	<!-- 대여완료(예약자) -->
	<update id="rentStartStatus" parameterType="int">
		update rent_info set r_status = 'Y' where p_idx = #{p_idx} and r_status = 'N' and return_chk = 'N'
	</update>
	
	<!-- 반납하기(예약자) -->
	<update id="rentReturn" parameterType="int">
		update rent_info set return_chk = 'Y' where p_idx = #{p_idx} and return_chk = 'N' and return_date is null
	</update>
	
	<!-- 반납완료(예약자) -->
	<update id="rentReturnFinish" parameterType="int">
		update rent_info set return_date = sysdate where p_idx = #{p_idx} and return_chk = 'Y' return_date is null
	</update>
	
</mapper>