<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.smhrd.model.UserDAO">

	<!-- 회원가입 -->
	<insert id="join" parameterType="UserDTO">
		insert into user_info  values( user_info_seq.nextval, #{nick}, #{gender}, #{kakao_id}, #{kimg_idx}, sysdate, 'Y' )
	</insert>
	
	<!-- 로그인 -->
	<select id="login" resultType="UserDTO" parameterType="UserDTO">
		select * from user_info where email = #{kakao_id}
	</select>
	
	<!-- 정보수정 -->
	<update id="update" parameterType="UserDTO">
		update user_info set nick = #{nick}, kimg_idx = #{kimg_idx} where user_idx = #{user_idx}
	</update>
	
	<!-- 회원이용중지 -->
	<delete id="delete" parameterType="String">
		update user_info set user_flag = 'N' where user_idx = #{user_idx}
	</delete>
	
</mapper>