<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.smhrd.model.UserDAO">

	<!-- 회원가입 시 닉네임 중복 체크용도 -->
	<select id="joinUserCheck" resultType="int" parameterType="UserDTO">
		select count(*) from user_info where nick = #{nick} or kakao_id = #{kakao_id}
	</select>	

	<!-- 회원가입 -->
	<insert id="join" parameterType="UserDTO">
		insert into user_info  values( user_info_seq.nextval, #{nick}, #{gender}, #{kakao_id}, sysdate, 'Y', #{rg_idx})
	</insert>
	
	<!-- 로그인 -->
	<select id="login" resultType="UserDTO" parameterType="String">
		select a.*, b.file_name from user_info a left outer join file_info b on a.user_idx = b.post_idx and b.route_type = 'profile' where a.kakao_id = #{kakao_id} and a.user_flag = 'Y'
	</select>
	
	<!-- 닉네임 중복 체크용도 -->
	<select id="nickCheck" resultType="int" parameterType="UserDTO">
		select count(*) from user_info where user_idx != #{user_idx} and nick = #{nick}
	</select>	
	
	<!-- 정보수정 -->
	<update id="update" parameterType="UserDTO">
		update user_info set nick = #{nick}, rg_idx = #{rg_idx} where user_idx = #{user_idx}
	</update>
	
	<!-- 회원이용중지 -->
	<delete id="delete" parameterType="int">
		update user_info set user_flag = 'N' where user_idx = #{user_idx}
	</delete>
	
	<!-- 전체회원조회(Admin) -->
	<select id="userAll" resultType="UserDTO">
		select * from user_info
	</select>
	
	<!-- 회원 복구(Admin) -->
	<update id="recovery" parameterType="int">
		update user_info set user_flag = 'Y' where user_idx = #{user_idx}
	</update>
	
</mapper>